## Learn Python in 15 minutes!

### Variables

Defining variables

In [ ]:
a = 10
b = 'string_b'
c = "string_c"
d = 0.999

To print something, use `print`

In [ ]:
print(a, b, c, d)

Putting multiple variables together in a tuple:

In [ ]:
t = (a, b)

In [ ]:
print(t)

Tuple assignment: swapping `a` and `b`

In [ ]:
a = 10
b = 20

a, b = b, a

print("a =", a)
print("b =", b)

Formatting: 

* using `%s` for strings
* using `%.2f` for floats

In [ ]:
print("a = %s, b = %s" % (a, b))

In [ ]:
n = 0.0099999999
print("n = %.2f" % n)

### Control Flow

If statements:

In [ ]:
a = 10

if a >= 5:
    print('the statement is true')
else:
    print('the statement is false')

In [ ]:
a = 3

if a >= 5:
    print('the first statement is true')
elif a >= 0:
    print('the second statement is true')
else:
    print('both statements are false')

For loops.

Use `range(10)` to go from 0 to 9

In [ ]:
for i in range(10):
    print(i)

Use `range(10, 100, 5)` to start from 10 and move with increments of 5

In [ ]:
for i in range(10, 100, 5):
    print(i)

Breaking out from the loop with `break`:

In [ ]:
for i in range(10):
    print(i)
    if i > 5:
        break

Exit one iteration of the loop, but keep going

In [ ]:
for i in range(10):
    if i <= 5:
        continue
    print(i)

While loop: run while the condition is `True`

In [ ]:
cnt = 0 

while cnt <= 5:
    print(cnt)
    cnt = cnt + 1

## Collections

### Lists

Let's create a list with numbers

In [ ]:
numbers = [1, 2, 3, 5, 7, 11, 13]

Getting the first element from the list:

In [ ]:
el = numbers[1]
print(el)

Changing one element of the list:

In [ ]:
numbers[1] = -2

In [ ]:
numbers

In Python, you can use `-1` to access the last element, `-2` to access the one before last and so on:

In [ ]:
print(numbers[-1], numbers[-2])

To add another element to the list, use `append`:

In [ ]:
numbers.append(17)
numbers

Iterating over a list:

* Using for-each loop
* Using for loop and `range`
* Combining both with `enumarate`

In [ ]:
for n in numbers:
    print(n)

In [ ]:
for i in range(len(numbers)):
    n = numbers[i]
    print("numbers[%d] = %d" % (i, n))

In [ ]:
for i, n in enumerate(numbers):
    print("numbers[%d] = %d" % (i, n))

Combininig two lists into one:

In [ ]:
list1 = [1, 2, 3, 5]
list2 = [7, 11, 13, 17]
list1 + list2

Creating a list of lists:

In [ ]:
list1 = [1, 2, 3, 5]
list2 = [7, 11, 13, 17]
list3 = [19, 23, 27, 29]

lists = [list1, list2, list3]

lists

In [ ]:
for l in lists:
    print(l)

### Slices

Accessing parts of the list

* `numbers[0:3]` to access elements 0, 1 and 1
* `numbers[2:]` to access elements starting from position 2

In [ ]:
numbers = [1, 2, 3, 5, 7]

In [ ]:
top3 = numbers[0:3]
top3

In [ ]:
last3 = numbers[2:]
last3

### Tuples

Tuples are like lists, but they are immutable

In [ ]:
numbers = (1, 2, 3, 5, 7, 11, 13)

It's not possible to modify them:

In [ ]:
numbers[2] = -2

But you can create a new tuple which is the old tuple plus a new element:

In [ ]:
numbers = numbers + (17,)

In [ ]:
numbers

### Sets

Unordered collections that don't contain duplicates

In [ ]:
numbers = {1, 2, 3, 5, 7, 11, 13}

Checking if a set contains an element is fast. Use `in` for that:

In [ ]:
print(1 in numbers)

Adding elements to a set -- use `add`:

In [ ]:
numbers.add(17)

To iterate over all elements, use the for loop:

In [ ]:
for n in numbers:
    print(n)

### Dictionaries

Dictionaries map keys to values

In [ ]:
words_to_numbers = {
    'one': 1,
    'two': 2,
    'three': 3,
}

Accessing the value by its key

In [ ]:
print(words_to_numbers['one'])

If the key is not in the dictionary, an error occurs

In [ ]:
print(words_to_numbers['five'])

To check if the key is in the dictionary, use `in`

In [ ]:
if 'five' in words_to_numbers:
    print(words_to_numbers['five'])
else:
    print('not in the dictionary')

The `get()` method returns `None` if the key is not in the dictionary

In [ ]:
val = words_to_numbers.get('five')
print(val)

You can use `get(key, default_value)` to return the default value if the key isn't present

In [ ]:
val = words_to_numbers.get('five', -1)
print(val)

Iterating over keys of the dictionary:

In [ ]:
for k in words_to_numbers.keys():
    v = words_to_numbers[k]
    print("%s: %d" % (k, v))

Iterating over key-value pairs:

In [ ]:
for k, v in words_to_numbers.items():
    print("%s: %d" % (k, v))

### List comprehensions

Let's create a list with numbers:

In [ ]:
numbers = [1, 2, 3, 5, 7]

Suppose we want to create another list where all the elements of the original list are squared. For that we can use a for loop:

```python
squared = []

for n in numbers:
    s = n * n
    squared.append(s)
```

We can concisely rewrite this code into one single line using list comprehension:

In [ ]:
squared = [n * n for n in numbers]
squared

Itâ€™s also possible to add an if condition inside to process only the elements that meet the condition:

In [ ]:
squared = [n * n for n in numbers if n > 3]
squared

We can use it for dictionaries as well:

In [ ]:
result = {k: v * 10 for (k, v) in words_to_numbers.items() if v % 2 == 0}
result

## Organizing your code
### Functions

This is how we define the function:

In [ ]:
def print_numbers(max):
    for i in range(max + 1):
        print(i)

And invoke it:

In [ ]:
print_numbers(10)

You can use named arguments:

In [ ]:
print_numbers(max=10)

### Classes

This is how you define a class:

In [ ]:
class NumberPrinter:

    def __init__(self, max):
        self.max = max

    def print_numbers(self):
        for i in range(self.max + 1):
            print(i)

In [ ]:
num_printer = NumberPrinter(max=10)
num_printer.print_numbers()